@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbars but allow scrolling */
.hide-scrollbars {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and newer Edge */
}
